/*
google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 /*
 basic css
 */
 body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464 ;
    line-height: 30px;
 }

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#212121 ;
}

.theme-button {
    text-decoration: none;
    background-color: #37886b;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0px;
    padding: 10px 20px;
    transition: .3s;
    display: inline-block;
}
.theme-button:hover {
    background-color: #caa892;
}

.design-image {
    position: relative;
    z-index: 1;
}
.design-image::after {
    position: absolute;
    content:"";
    height: 100%;
    width: 100%;
    left: 20px;
    top: 20px;
    z-index: -1;
    border-radius: 140px 0px;
    border: 2px solid #b8855b;
    
}

.section-heading h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
    font-weight: 600;
}
.section-heading h3 {
    font-size: 40px;
}


/*
header area css
*/
.header-area {
    padding: 30px 0;
}
.header-area .nav-item {
    margin-left: 30px;
}
.header-area .nav-link {
    text-transform: uppercase;
    color:#111111;
    font-weight: 600;
}
.header-area .nav-link.active {
    color:#646464;
}
.header-area .nav-item:last-child .nav-link {
    margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link {
    background-color: #caa892;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0px;
    padding: 10px 20px;
}
/*
hero area css
*/
.hero-area {
    padding: 70px 0;
}
.hero-text {
    padding-top: 80px;
}
.hero-text h3 {
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
}
.hero-text h2 {
    font-size: 72px;
    color: #212121;
    text-transform: capitalize;
}
.hero-text a {
    margin-top: 15px;
}
.hero-image img {
    width: 100%;
    border-radius: 140px 0px;
}

/*
service-area css
*/
.service-area {
    padding: 100px 0;
}
.all-service {
    margin-top: 60px;
    position: relative;
}
.service-area .owl-nav {
    position: absolute;
    right: 0;
    top: -60px;
}
.service-area .owl-nav span {
    height: 30px;
    width: 30px;
    background-color:#FFFFFF;
    color: #646464;
    display: inline-block;
    border-radius: 50%;
box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
transition: 0.3s;
}
.service-area .owl-nav span:hover {
    background-color: #37886b;
    color: #FFFFFF;
}
.service-area .owl-next {
    margin-left: 15px;
}
.single-service {
    background: #FFFFFF;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 40px 15px 40px 40px;
    transition: 0.4s;
    cursor: pointer;
}
.single-service:hover {
    background-color: #b8855b;
    color: #FFFFFF;
}
.single-service:hover h3 {
    color: #FFFFFF;
}
.service-text p {
    margin-bottom: 0;
}

/*
footer area css
*/
.footer-area {
    background-color: #f8f8f8;
    position: relative;
}
.footer-top {
   padding-top: 90px;
   padding-bottom: 70px;
}
.footer-about img {
    margin-bottom: 20px;
}
.footer-link h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
}
.footer-link ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #646464;
    transition: .3s;
}
.footer-link ul li a:hover{
    color: #37886b;
}
.footer-link address {
    line-height: 2.5;
}
.footer-link .social-link li {
    display: inline-block;
    margin-right: 10px;
}
.footer-link .social-link li a {
    background-color: #d5d5d5;
    height: 40px;
    width: 40px;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #fff;
    transition: .3s;
}
.footer-link .social-link li a:hover {
    color: #37886b ;
}

.footer-bottom {
    border-top: 1px solid #c4c4c4;
}
.footer-bottom-text a {
    text-decoration: none;
    color:#37886b;
}
.design {
    position: absolute;
    top: -50px;
}
